/* Class Selection For Teachers */
.class-list-card {
    background-color: white;
    padding: 0;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    margin-top: 30px;
    margin-left:20px;
  }
  
  .class-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .class-list li {
    border-bottom: 1px solid #ddd;
  }
  
  .class-list li:last-child {
    border-bottom: none;
  }
  
  .class-list a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    color: #1a58c6;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: background 0.2s;
  }
  
  .class-list a:hover { /*gives a hover effect to classes*/
    background-color: #f0f5f9;
  }
  
  .arrow {
    color: #888;
    font-size: 18px;
  }
  

/* Tab Navigation */
.tab-menu {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  .tab-menu a {
    padding: 10px 0;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    border-bottom: 2px solid transparent;
  }
  
  .tab-menu a.active {
    color: #0f2747;
    border-color: #0f2747;
  }
  