/* SETTINGS PAGE*/

.form-card {
    background: white;
    padding: 20px;
    max-width: 60%;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
  }
  
  .form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
    flex-wrap: wrap;
  }
  
  .form-row input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
    color: #333;
  }
  
  .input-short {
    width: 49%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
  }

  .input-full {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
  }
  
  .security-rules {
    flex: 1 1 35%;
    display: flex;
    align-items: flex-start;
  }
  .password-requirements {
    font-size: 16px;
    color: #555;
    list-style: disc;
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .button-row {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px; /* optional spacing */
  }

  .update-button {
    background-color: #4055A8;
    color: white;
    border: none;
    padding: 10px 18px;
    margin-right: 8px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;

  }
  
  .update-button:hover {
    background-color: #2c3e91;
  }
  
  .security-section {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .security-inputs {
    flex: 1 1 50%;
  }
  