.class-select {
    display: flex;
    gap: 10px;
    align-items: center;
}
  
.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 18.5%;
    margin-bottom: -20px;
}

.course-header-row {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr .5fr;
    font-weight: 600;
    padding: 16px 20px;
    border-bottom: 2px solid #ccc;
    background-color: #f8f9fb;
  }

.course-row {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr .5fr;
    align-items: center;
    padding: 16px 20px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: white;
}

.course-row:not(:last-child) {
    border-bottom: none;
}

    .course-subject,
    .course-teacher,
    .course-classes {
    font-size: 15px;
}

.course-teacher {
    color: #1a58c6;
    font-weight: 500;
  }

.course-actions {
    display: flex;
    margin-left: 8%;
}

.edit-btn {
    background: none;
    border: none;
    color: #000;
    font-weight: 500;
    cursor: pointer;
}
.update-button{



    
}