.class-select {
  display: flex;
  gap: 10px;
  align-items: center;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 18.5%;
  margin-bottom: -20px;
}

.group-header-row {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr .5fr;
  font-weight: 600;
  padding: 16px 20px;
  border-bottom: 2px solid #ccc;
  background-color: #f8f9fb;
}

.group-row {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr .5fr;
  align-items: center;
  padding: 16px 20px;
  border-bottom: 1px solid #eee;
}

.group-name,
.group-pa,
.group-year {
  font-size: 15px;
}

.group-pa {
  color: #1a58c6;
  font-weight: 500;
}

.group-actions {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.remove-btn {
  background: none;
  border: none;
  color: rgb(204, 53, 53);
  font-weight: 600;
  cursor: pointer;
}


.edit-btn {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
}