.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 18.5%;
  margin-bottom: -20px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name-list {
  font-weight: 600;
  font-size: 16px;
  color: #1a58c6;
}

.user-role {
  font-weight: 400;
  font-size: 13px;
  color: #666;
  margin-top: 2px;
}
  
    